__pycache__
checkpoints
Formers/
timeseries_dataset/
scripts/*/checkpoints/
scripts/*/logs/
scripts/*/test_results/
tensor_logs
scripts/logs/
scripts/run.sh
scripts/test_results/
scripts/checkpoints
scripts/baseline/*/checkpoints/
scripts/baseline/*/logs/
scripts/baseline/*/*results/